/* header */

[id="wrapper"] > header {
    margin: 0 auto 2.5rem;
}

/* Homepage header topbar */

[id="wrapper"] > header .topbar {
    min-height: 8rem;
    padding: 2.8rem 0 0;
    background: #76c7c0 url( ../../assets/img/navbar-bcg-pattern.png ) bottom left repeat-x;
}

[id="wrapper"] > header .topbar h1 {
    position: relative;
    width: 19.2rem;
    margin: 0 auto;
    left: -48.9rem;
}

[id="wrapper"] > header .topbar h1 a {
    display: block;
    height: 2.2rem;
    background: transparent url( ../../assets/img/logo.svg ) center left no-repeat;
    background-size: contain;
    font-size: 0;
}

[id="wrapper"] > header .topbar nav {
    position: absolute;
    width: 96rem;
    top: 2.4rem;
    right: 50%;
    padding-right: 5.6rem;
    text-align: right;
    transform: translateX( 58.5rem );
}

[id="wrapper"] > header .topbar nav h2 { display: none; }

[id="wrapper"] > header .topbar nav > ul {
    display: inline-block;
    font-size: 0;
}

[id="wrapper"] > header .topbar nav > ul > li {
    display: inline-block;
}

[id="wrapper"] > header .topbar nav > ul > li + li {
    margin-left: 1.4rem;
}

[id="wrapper"] > header .topbar nav > ul > li > a {
    display: block;
    padding: 1rem 1.4rem;
    border-radius: .4rem;
    font: 600 1.4rem/1 "OpenSans";
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

[id="wrapper"] > header .topbar nav > ul > li.active > a {
    background: #62a29e;
    box-shadow: 0 .3rem 0 #528b86;
}

[id="wrapper"] > header .topbar nav > ul > li > a:hover {
    background: #e8645a;
    box-shadow: 0 .3rem 0 #e2534b;
}

[id="wrapper"] > header .topbar nav > ul > li.has-dropdown > a::before {
    content: "";
    margin-right: .8rem;
    font: normal 1.4rem "Glyphs";
}

[id="wrapper"] > header .topbar nav > ul > li ul {
    display: none;
}

/* header topbar search form */

[id="wrapper"] > header .topbar nav form {
    position: absolute;
    top: 0;
    right: 0;
}

[id="wrapper"] > header .topbar nav form legend { display: none; }

[id="wrapper"] > header .topbar nav form .search-form-toggle {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: .8rem 1.4rem .9rem;
    border-radius: .4rem;
    font-size: 0;
    color: white;
    text-align: center;
    cursor: pointer;
}

[id="wrapper"] > header .topbar nav form .search-form-toggle::before {
    content: "";
    font: normal 1.6rem/1 "Glyphs";
}

[id="wrapper"] > header .topbar nav form .search-form-toggle:hover, [id="wrapper"] > header .topbar nav form .search-form-toggle.open {
    background: #e8645a;
    box-shadow: 0 .3rem 0 #e2534b;
}

[id="wrapper"] > header .topbar nav form .search-form-toggle.open + .form-elt {
    display: block;
}

[id="wrapper"] > header .topbar nav form .form-elt {
    position: absolute;
    display: none;
    min-width: 20rem;
    top: 5rem;
    right: 0;
    padding: .5rem;
    background: #e2534b;
    border-radius: .4rem;
}

[id="wrapper"] > header .topbar nav form .form-elt::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: -1.4rem;
    right: 1.4rem;
    border: .7rem solid transparent;
    border-bottom-color: #e2534b;
}

[id="wrapper"] > header .topbar nav form .form-elt label { display: none; }

[id="wrapper"] > header .topbar nav form .form-elt input {
    display: block;
    width: 100%;
    margin: 0 auto .5rem;
    padding: .25rem .5rem;
    background: white;
    border-radius: .2rem;
    border: 0;
    font: normal 1.6rem/1 "OpenSans";
    color: #777;
}

[id="wrapper"] > header .topbar nav form .form-elt input:focus {
    outline: 0;
}

[id="wrapper"] > header .topbar nav form .form-elt button {
    display: block;
    width: 100%;
    padding: .5rem .5rem;
    background: #76c7c0;
    border-radius: .2rem;
    border: 0;
    font: normal 1.6rem/1 "OpenSans";
    color: white;
    text-align: center;
    cursor: pointer;
}

[id="wrapper"] > header .topbar nav form .form-elt button:hover {
    background: #62a29e;
}

/* Homepage header slider */

[id="wrapper"] > header .slider {
    display: none;
}
